* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.app-wrapper {
  height: 100vh;
}

.btn,
.btn:hover,
.btn:visited,
.btn:active {
  color: #fff;
  text-decoration: none;
}

.btn-round {
  padding: 10px 30px;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
}

.main-content {
  display: flex;
  height: calc(100% - 100px);
  background-color: grey;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 250px;
  height: 100%;
  background-color: #000;
}

.playlist {
  overflow: hidden;
}

.playlist__header {
  height: 50px;
}

.playlist__list {
  height: calc(100% - 50px);
  overflow: auto;
}

.account-info {
  flex: 0 0 80px;
  margin-top: auto;
}

.main-view {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow-y: auto;
  background-color: #141922;
}

.upgrade {
  position: fixed;
  top:0;
  right:0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  width: calc(100% - 250px);
  padding: 10px;
  background-color: rgba(0,0,0,0.75);
}

.player {
  position: relative;
  z-index: 1;
  height: 100px;
  background-color: #282828;
}
