* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  height: 100vh;
}

.main-content {
  display: flex;
  height: calc(100% - 100px);
  background-color: grey;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 250px;
  height: 100%;
  background-color: green;
}

.playlist {
  overflow: hidden;
}

.playlist__header {
  height: 50px;
}

.playlist__list {
  height: calc(100% - 50px);
  overflow: auto;
}

.account-info {
  flex: 0 0 80px;
  margin-top: auto;
}

.main-view {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow-y: auto;
  background-color: yellow;
}

.upgrade {
  position: fixed;
  top:0;
  right:0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  width: calc(100% - 250px);
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
}

.player {
  position: relative;
  z-index: 1;
  height: 100px;
  background-color: red;
}
